workflow-n8n/workflow2-churn-alert-monitor.json
{
  "name": "WF2 — Churn Alert Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM v_churn_alerts ORDER BY churn_probability DESC;",
        "options": {}
      },
      "id": "fetch-alerts",
      "name": "Fetch Churn Alerts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 100]
    },
    {
      "parameters": {
        "jsCode": "// ── Determine strategy, build email, prepare DB payloads ──\n\nconst DRIVER_LABELS = {\n  days_since_last_login: 'low login activity',\n  events_per_month_trend: 'declining event creation',\n  support_ticket_velocity: 'frequent support tickets',\n  tenure_months: 'early tenure phase',\n  monthly_charges: 'plan cost concerns',\n  annual_revenue: 'revenue mismatch',\n  has_dedicated_csm: 'lack of dedicated CSM',\n  payment_auto: 'manual payment friction',\n  paperless_billing: 'billing preferences',\n  online_security: 'security feature gap',\n  online_backup: 'backup feature gap',\n  streaming_tv: 'unused streaming features',\n  senior_citizen: 'demographic factor',\n  has_partner: 'demographic factor',\n  has_dependents: 'demographic factor',\n  plan_type: 'plan type mismatch',\n  platform_tier: 'platform tier limitations',\n};\n\nfunction driverLabel(driver) {\n  return DRIVER_LABELS[driver] || driver.replace(/_/g, ' ');\n}\n\nfunction parseDrivers(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') {\n    try { return JSON.parse(raw); } catch { return []; }\n  }\n  return Array.isArray(raw) ? raw : [];\n}\n\nfunction productTipFor(driver) {\n  const tips = {\n    days_since_last_login: { feature: 'Event Dashboard', tip: 'Your personalized Event Dashboard shows upcoming deadlines and attendee RSVPs at a glance — no need to dig through emails.' },\n    events_per_month_trend: { feature: 'AI Agenda Builder', tip: 'Our AI Agenda Builder can create a full event program in minutes. Customers who use it run 3x more events per quarter.' },\n    support_ticket_velocity: { feature: 'Help Center & Live Chat', tip: 'Our revamped Help Center has step-by-step guides for the most common workflows — many customers find answers faster than opening a ticket.' },\n  };\n  return tips[driver] || { feature: 'Live Polling', tip: 'Live Polling lets your attendees interact in real time — it is our most-loved feature with a 94% satisfaction rate.' };\n}\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const a = item.json;\n  const risk = a.risk_tier;\n  const arr = parseFloat(a.annual_revenue) || 0;\n  const drivers = parseDrivers(a.churn_drivers);\n  const topDriverKey = drivers.length > 0 ? drivers[0].driver : 'days_since_last_login';\n  const topDriverLabel = driverLabel(topDriverKey);\n  const firstName = (a.name || '').split(' ')[0] || a.name;\n\n  let strategy, taskPriority, caseNeeded, emailSubject, emailBody;\n\n  // ── Decision logic from prompt.md ──\n  if (risk === 'Critical' && arr > 50000) {\n    strategy = 'csm_escalation';\n    taskPriority = 'Urgent';\n    caseNeeded = true;\n    emailSubject = `${firstName}, your dedicated success team is ready to help`;\n    emailBody = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:24px;\">`\n      + `<h2 style=\"color:#1a1a2e;\">Hi ${firstName},</h2>`\n      + `<p>I'm <strong>{{CSM_NAME}}</strong>, your dedicated Customer Success Manager at NovaSeat.</p>`\n      + `<p>We noticed some signals that suggest you might not be getting full value from the platform — specifically <strong>${topDriverLabel}</strong>.</p>`\n      + `<p>Given how important NovaSeat is to your event operations, I'd love to schedule a quick call to understand what's going on and see how we can help.</p>`\n      + `<p><a href=\"{{CALENDAR_LINK}}\" style=\"display:inline-block;background:#4f46e5;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;\">Book a 15-min call with me</a></p>`\n      + `<p>Or simply reply to this email — I read every response personally.</p>`\n      + `<p style=\"margin-top:24px;\">Best,<br/><strong>{{CSM_NAME}}</strong><br/>Customer Success, NovaSeat</p>`\n      + `</div>`;\n\n  } else if (risk === 'Critical') {\n    strategy = 'auto_outreach';\n    taskPriority = 'High';\n    caseNeeded = false;\n    emailSubject = `${firstName}, let's get NovaSeat working better for you`;\n    emailBody = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:24px;\">`\n      + `<h2 style=\"color:#1a1a2e;\">Hi ${firstName},</h2>`\n      + `<p>We've noticed some changes in how you're using NovaSeat — particularly <strong>${topDriverLabel}</strong> — and we want to make sure everything is running smoothly.</p>`\n      + `<p>Here are a few things that might help:</p>`\n      + `<ul>`\n      + `<li><strong>Book a free success call</strong> — we'll walk through your setup and optimize it: <a href=\"{{CALENDAR_LINK}}\">Pick a time</a></li>`\n      + `<li><strong>Reply to this email</strong> with any questions or concerns</li>`\n      + `<li><strong>Visit our Help Center</strong> for quick self-service guides</li>`\n      + `</ul>`\n      + `<p>We're here to help you get the most out of every event.</p>`\n      + `<p style=\"margin-top:24px;\">The NovaSeat Team</p>`\n      + `</div>`;\n\n  } else {\n    // High risk → product tip\n    strategy = 'product_tip';\n    taskPriority = 'Medium';\n    caseNeeded = false;\n    const tip = productTipFor(topDriverKey);\n    emailSubject = `${firstName}, have you tried ${tip.feature}?`;\n    emailBody = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:24px;\">`\n      + `<h2 style=\"color:#1a1a2e;\">Hi ${firstName},</h2>`\n      + `<p>We wanted to share a feature that customers in a similar situation find really valuable:</p>`\n      + `<div style=\"background:#f8f7ff;border-left:4px solid #4f46e5;padding:16px;margin:16px 0;border-radius:4px;\">`\n      + `<strong>${tip.feature}</strong><br/>${tip.tip}`\n      + `</div>`\n      + `<p>If you'd like a quick walkthrough, just reply to this email or <a href=\"{{CALENDAR_LINK}}\">book a 10-minute demo</a>.</p>`\n      + `<p style=\"margin-top:24px;\">The NovaSeat Team</p>`\n      + `</div>`;\n  }\n\n  results.push({\n    json: {\n      // account data (pass through)\n      account_id: a.id,\n      account_name: a.name,\n      account_email: a.email,\n      annual_revenue: arr,\n      plan_type: a.plan_type,\n      risk_tier: risk,\n      churn_probability: a.churn_probability,\n      churn_drivers: a.churn_drivers,\n      csm_id: a.csm_id,\n      csm_name: a.csm_name,\n      csm_email: a.csm_email,\n      days_since_last_login: a.days_since_last_login,\n      // computed\n      strategy,\n      taskPriority,\n      caseNeeded,\n      emailSubject,\n      emailBody,\n      taskTitle: `Follow up: ${a.name} — ${risk} risk (${strategy})`,\n      taskDescription: `Account ${a.name} flagged as ${risk} risk (churn probability ${a.churn_probability}). Top driver: ${topDriverLabel}. Strategy: ${strategy}.`,\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "determine-strategy",
      "name": "Determine Strategy & Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO interventions (account_id, csm_id, trigger_risk_tier, trigger_arr, strategy, status)\nVALUES (\n  '{{ $json.account_id }}',\n  {{ $json.csm_id ? \"'\" + $json.csm_id + \"'\" : 'NULL' }},\n  '{{ $json.risk_tier }}',\n  {{ $json.annual_revenue }},\n  '{{ $json.strategy }}',\n  'Active'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "insert-intervention",
      "name": "Insert Intervention",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "jsCode": "// Merge intervention ID with previous data\nconst prev = $('Determine Strategy & Build Email').item.json;\nconst interventionId = $json.id;\nreturn [{ json: { ...prev, intervention_id: interventionId } }];"
      },
      "id": "merge-intervention-id",
      "name": "Merge Intervention ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outreach_messages (intervention_id, account_id, channel, subject, body_html, recipient_email, status, sent_at)\nVALUES (\n  '{{ $json.intervention_id }}',\n  '{{ $json.account_id }}',\n  'Email',\n  '{{ $json.emailSubject }}',\n  '{{ $json.emailBody }}',\n  '{{ $json.account_email }}',\n  'Sent',\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "insert-outreach",
      "name": "Insert Outreach Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1480, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (intervention_id, account_id, assigned_to, title, description, priority, status, due_date)\nVALUES (\n  '{{ $('Merge Intervention ID').item.json.intervention_id }}',\n  '{{ $('Merge Intervention ID').item.json.account_id }}',\n  {{ $('Merge Intervention ID').item.json.csm_id ? \"'\" + $('Merge Intervention ID').item.json.csm_id + \"'\" : 'NULL' }},\n  '{{ $('Merge Intervention ID').item.json.taskTitle }}',\n  '{{ $('Merge Intervention ID').item.json.taskDescription }}',\n  '{{ $('Merge Intervention ID').item.json.taskPriority }}',\n  'Open',\n  NOW() + INTERVAL '3 days'\n);",
        "options": {}
      },
      "id": "insert-task",
      "name": "Insert Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1720, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE accounts SET intervention_status = 'Active' WHERE id = '{{ $('Merge Intervention ID').item.json.account_id }}';",
        "options": {}
      },
      "id": "update-account",
      "name": "Update Account Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1960, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $('Merge Intervention ID').item.json.caseNeeded }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-case-needed",
      "name": "Case Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cases (intervention_id, account_id, assigned_to, title, description, priority, status, escalated_at)\nVALUES (\n  '{{ $('Merge Intervention ID').item.json.intervention_id }}',\n  '{{ $('Merge Intervention ID').item.json.account_id }}',\n  {{ $('Merge Intervention ID').item.json.csm_id ? \"'\" + $('Merge Intervention ID').item.json.csm_id + \"'\" : 'NULL' }},\n  'Critical churn risk: {{ $('Merge Intervention ID').item.json.account_name }} (ARR €{{ $('Merge Intervention ID').item.json.annual_revenue }})',\n  '{{ $('Merge Intervention ID').item.json.taskDescription }}',\n  'Critical',\n  'Open',\n  NOW()\n);",
        "options": {}
      },
      "id": "insert-case",
      "name": "Insert Case (High ARR)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2440, -100]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "from": "=noreply@novaseat.dev",
        "to": "={{ $('Merge Intervention ID').item.json.account_email }}",
        "subject": "={{ $('Merge Intervention ID').item.json.emailSubject }}",
        "emailFormat": "html",
        "useTemplate": false,
        "html": "={{ $('Merge Intervention ID').item.json.emailBody }}",
        "additionalOptions": {
          "replyTo": "={{ $('Merge Intervention ID').item.json.csm_email || 'success@novaseat.dev' }}"
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [2700, 0],
      "credentials": {
        "resendApi": {
          "id": "ZdsvkSPEJZdaZJ1l",
          "name": "Resend account"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "from": "=noreply@novaseat.dev",
        "to": "={{ $('Merge Intervention ID').item.json.csm_email }}",
        "subject": "=🚨 CSM Escalation: {{ $('Merge Intervention ID').item.json.account_name }} — Critical Risk (ARR €{{ $('Merge Intervention ID').item.json.annual_revenue }})",
        "emailFormat": "html",
        "useTemplate": false,
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;padding:24px;\"><h2 style=\"color:#dc2626;\">Critical Account Escalation</h2><p><strong>Account:</strong> {{ $('Merge Intervention ID').item.json.account_name }}</p><p><strong>ARR:</strong> €{{ $('Merge Intervention ID').item.json.annual_revenue }}</p><p><strong>Churn Probability:</strong> {{ $('Merge Intervention ID').item.json.churn_probability }}</p><p><strong>Risk Tier:</strong> {{ $('Merge Intervention ID').item.json.risk_tier }}</p><p><strong>Top Churn Drivers:</strong> {{ JSON.stringify($('Merge Intervention ID').item.json.churn_drivers) }}</p><p>An outreach email has already been sent to the customer. Please follow up within 24 hours.</p></div>",
        "additionalOptions": {}
      },
      "id": "notify-csm",
      "name": "Notify CSM (Escalation)",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [2700, -200],
      "credentials": {
        "resendApi": {
          "id": "ZdsvkSPEJZdaZJ1l",
          "name": "Resend account"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00": {
      "main": [
        [{ "node": "Fetch Churn Alerts", "type": "main", "index": 0 }]
      ]
    },
    "Manual Trigger": {
      "main": [
        [{ "node": "Fetch Churn Alerts", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Churn Alerts": {
      "main": [
        [{ "node": "Has Alerts?", "type": "main", "index": 0 }]
      ]
    },
    "Has Alerts?": {
      "main": [
        [{ "node": "Determine Strategy & Build Email", "type": "main", "index": 0 }],
        []
      ]
    },
    "Determine Strategy & Build Email": {
      "main": [
        [{ "node": "Insert Intervention", "type": "main", "index": 0 }]
      ]
    },
    "Insert Intervention": {
      "main": [
        [{ "node": "Merge Intervention ID", "type": "main", "index": 0 }]
      ]
    },
    "Merge Intervention ID": {
      "main": [
        [{ "node": "Insert Outreach Message", "type": "main", "index": 0 }]
      ]
    },
    "Insert Outreach Message": {
      "main": [
        [{ "node": "Insert Task", "type": "main", "index": 0 }]
      ]
    },
    "Insert Task": {
      "main": [
        [{ "node": "Update Account Status", "type": "main", "index": 0 }]
      ]
    },
    "Update Account Status": {
      "main": [
        [{ "node": "Case Needed?", "type": "main", "index": 0 }]
      ]
    },
    "Case Needed?": {
      "main": [
        [
          { "node": "Insert Case (High ARR)", "type": "main", "index": 0 },
          { "node": "Notify CSM (Escalation)", "type": "main", "index": 0 }
        ],
        [{ "node": "Send Email", "type": "main", "index": 0 }]
      ]
    },
    "Insert Case (High ARR)": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }]
      ]
    },
    "Notify CSM (Escalation)": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    { "name": "novaseat" },
    { "name": "churn-prevention" }
  ]
}